.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 60px;
    color: white;
}
.header.day {
    color: black;
}
.header__links {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.header__link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: rgb(197, 197, 197);
    }
}
.header__link.day {
    color: black;
}
.header__title {
    cursor: pointer;
    transform: translate(-110%);
}
.header__bag {
    cursor: pointer;
    position: relative;
}
.bag {
    width: 50px;
}
.bag__counter {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background-color: #bd5601;
    width: 15px;
    height: 15px;
}
